
  <div class="center hero-unit">
    <h1>Welcome to the Sina Weibo</h1>

    <h2>
      Click here to direct login 
      <a href="http://weibo.sina.com/">weibo.sina.com</a>
      by official website.
    </h2>

    <%= link_to "Sign in now!", signin_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
