<footer class="footer">
  <small>
    <a href="http://weibo.sina.com/">新浪微博</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact me", "mailto:guofengstc@gmail.com" %></li>
    </ul>
  </nav>
</footer>